*{
    margin: 0;
    padding: 0;
}

.guidelines-container {
    padding: 0;
    margin: 0;
    position: relative;
}

.guidelines-heading {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 12vh 5vh 5vh 10vh;
    font-size: 4.7rem;
}


.points {
    text-align: left;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 15vh;
    width: 55%;
    overflow: visible;
    font-size: 1.7rem;
}

.guidelines-img img{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    bottom: 0;
    left: 70%;
    width: 30%;
}

@media only screen and (max-width: 1025px){
    .guidelines-img img {
        width: 33%;
    }
    .guidelines-heading {
        padding-top: 6vh;
        padding-left: 4vh;
        font-size: 2.5rem;
        padding-bottom: 3vh;
    }
    .points {
        width: 55%;
        padding-left: 7vh;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px){
    .guidelines-img img {
        visibility: hidden;
    }
    .guidelines-heading {
        padding-left: 4vh;
        margin-bottom: -2vh;
        font-size: 2.5rem;
    }
    .points {
        width: 75%;
        padding-left: 7vh;
        font-size: 1.2rem;
    }
}





