.landing {
  height: 100vh;
  background-image: url("./assets/bg2.jpeg"),
    radial-gradient(circle, hsla(0, 0%, 78%, 0) 18%, hsla(0, 0%, 0%, 0.5) 100%);

  /* background-image: url("./assets/bg.png"); */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9FCCFA", endColorstr="#000000", GradientType=1 );
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.landing-content {
  background-color: rgba(144, 59, 3, 0.863);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.623);
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  /* padding: 30px 20px; */
  padding: 2.5rem 1rem 6rem 1rem;
  margin-top: 20px;
}
.landing h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 95.4152px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  margin-top: 0;
}
.landing p {
  color: white;
  font-weight: 600;
}
.landing h1:nth-child(3) {
  padding-top: 5vh;
  margin-bottom: 0;
}
.landing h1:nth-child(1) {
  margin-top: 0;
}
.landing h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 27.6321px;
  line-height: 52px;
  /* identical to box height */
  background-color: transparent;

  text-align: center;
  padding-bottom: 30px;
  color: #ffffff;
}
.landing button {
  background: #50bebb;
  border-radius: 16px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  padding: 0.5% 4%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  margin: 0 0.5%;
}
.landing button:hover {
  background-color: #4da8a5;
}

.landing a {
  color: #ffffff;
  text-decoration: none;
  width: 5rem;
}

.landing .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .landing h1 {
    font-size: 5.5rem;
  }
  .landing h4 {
    font-size: 2rem;
  }

  /* .landing h1:nth-child(3) {
    margin-top: 10rem;
  } */

  .landing .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .buttons button {
    font-size: 1.5rem;
    /* width: 100%; */
  }
}

@media (max-width: 900px) {
  .landing h1 {
    font-size: 4.5rem;
  }
  .landing h4 {
    font-size: 1.5rem;
  }

  /* .landing h1:nth-child(3) {
    margin-top: 12rem;
  } */

  .landing .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .buttons button {
    font-size: 1.5rem;
    /* width: 100%; */
  }
}

@media (max-width: 600px) {
  .landing h1 {
    font-size: 3rem;
  }
  /* .landing h1:nth-child(3) {
    margin-top: 12rem;
  } */
  .landing h4 {
    font-size: 1rem;
  }
  .landing .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .buttons button {
    font-size: 1rem;
    /* width: 100%; */
  }
}

@media (max-width: 430px) {
  .landing h1 {
    font-size: 2rem;
  }
  /* .landing h1:nth-child(3) {
    margin-top: 10rem;
  } */
  .landing h4 {
    font-size: 0.9rem;
  }
  .landing .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .buttons button {
    font-size: 0.7rem;
    /* width: 100%; */
  }
}
/* Ribbon css */

@media (max-width: 1400px) {
  .ribbon {
    top: 6.8vh !important;
  }
}

.ribbon {
  width: 260px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 16.5vh;
  left: 9.5vw;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 400px;
  /* height: 100px; */
  padding: 15px 0;
  background-color: #98613a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 0px;
  top: 37px;
  transform: rotate(-35deg) translateX(15px);
}

#image {
  height: 9rem;
  width: 7rem;
  position: absolute;
  top: 16vh;
  right: 12vw;
}

@media (max-width: 1400px) {
  #image {
    top: 6vh;
    right: 12vw;
  }
}
@media (max-width: 700px) {
  .landing-content {
    margin-top: 5rem;
  }
  #image {
    top: 13vh;
    right: 12vw;
  }
}
@media (max-width: 450px) {
  .landing-content {
    margin-top: 10rem;
  }
  .landing-content p {
    padding: 0 1rem;
  }
  #image {
    top: 16.5vh;
    right: 12vw;
  }
}
