.speakers {
    background-color: #072227;
    margin-bottom: 15vh;
    padding-top: 6vh;
}

.speakers h1{
    color: #08BD04;
    margin-bottom: 10vh;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    margin-left: 39vw;
    margin-bottom: 5vh;
}

/* .card-group {
    padding-bottom: 50vh;
    margin-top: -10vh;
} */

.dots {
    position: relative;
    bottom: 9vh;
    right: 16.5vh;
}
.dots-cards{
    position: absolute;
    top: 10px;
    width: 2vw !important;
    left: 32.5px;
}
.card img{
    display: block;
    margin: 5vh auto;
    width: 80%;
}

.card{
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}

.card h5{
    font-size: 2.5rem;
    padding-bottom: 2vh;
}

.slick-dots {
    background-color: #072227;
    padding: 20vh 0;
}

.slick-dots li button {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    padding: 20vh 0;
}
.slick-dots{
    background-color: inherit;
}
.slick-dots li button:before{
    font-size: 20px !important;
    color: white !important;
}

@media only screen and (max-width: 1025px) {
    .speakers h1{
        margin-left: 33%;
    }
    .dots{
        left: -8.5vh;
        bottom: 7vh;
    }
    .dots-cards{
        left: 23px;
    }
}

@media only screen and (max-width: 480px) {
    .speakers h1{
        margin-left: 2vh;
    }
    .dots{
        left: -15vh;
        bottom: 8vh;
    }
    .dots-cards{
        left: 23px;
    }
}