.row {
    background-color: black;
}
.about-content-div{
    color: #ffffff;
    padding: 5%;
    text-align: left;
    margin: 4%;
}
.about-content-div h2{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 77.95px;
line-height: 117px;
text-align: center;
text-align: left;
}