.row {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 4rem;
}
.about-content-div {
  color: #ffffff;
  padding: 5%;
  text-align: left;
  margin: 4% 0 0 0;
}
.about-content-div h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 77.95px;
  line-height: 117px;
  text-align: left;
}

.about-content-img {
  height: 224px;
  width: 219px;
  z-index: 10;
}

.col-sm-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-main-wrapper {
  display: flex;
}

@media (max-width: 1100px) {
  .about-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 5rem 0 0 0;
  }

  .col-sm-7 {
    width: 90vw;
  }

  .about-content-img {
    height: 256px;
    width: 246px;
  }
}

@media (max-width: 1550px) {
  .about-content-img {
    position: relative;
    left: 2vw;
  }
}
