.guidelines-container {
  background-color: black;
  padding: 0;
  margin: 0;
  position: relative;
  padding-top: 2vh;
  width: 100%;
  min-height: 75vh;
}

.guidelines-heading {
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0 5vh 1vh 10vh;
  font-size: 4.7rem;
}
.guidelines {
  max-width: 100vw;
  position: relative;
}
.points {
  text-align: left;
  float: left;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-left: 15vh;
  width: 80%;
  overflow: visible;
  font-size: 1.25rem;
  position: relative;
}

.guidelines-container img {
  position: absolute;
  top: -70px;
  right: 8%;
}

@media only screen and (max-width: 1025px) {
  .guidelines-container img {
    display: none;
  }

  .guidelines-heading {
    font-size: 2.5rem;
    padding-bottom: 3vh;
  }
  .points {
    width: 90%;
    padding-left: 7vh;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 700px) {
  .guidelines-container {
    min-height: 95vh;
  }
  .guidelines-heading {
    font-size: 2.5rem;
    margin: 0 5vh 5vh 7vh;
  }
  .points {
    width: 90%;
    padding-left: 7vh;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .guidelines-container {
    min-height: 90vh;
  }
}

@media only screen and (max-width: 450px) {
  .guidelines-container {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 400px) {
  .guidelines-container {
    min-height: 130vh;
  }
}
