.ham {
  position: fixed;
  top: 2.5vh;
  right: 2.5vw;
  color: white;
  z-index: 99;
  padding: 1rem;
  cursor: pointer;
}

.ham img {
  height: 30px;
}
.navwrapper {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  transform: translateX(100%);
}

.navwrapper span img {
  height: 30px;
}
.navwrapper span {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 2.5vh;
  right: 2.5vw;
  padding: 1rem;
  cursor: pointer;
}

.menudiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.menudiv h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
  color: white;
  transform: translateX(13%);
}

.menudiv a {
  color: white;
  font-size: 2rem;
  padding: 0 0 1rem 0;
}

@media (max-width: 768px) {
  .menudiv a {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .menudiv h1 {
    transform: translateX(0%);
  }
  .menudiv a {
    font-size: 1rem;
  }
}
