.App {
  text-align: center;
  max-width: 99.9vw !important;
  overflow-x: hidden !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
body{
  max-width: 100vw !important;
  overflow-x: hidden !important;
  background-color: black;
}
.main-heading{
  color: rgba(8, 189, 4, 1) !important;
  z-index: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 77.95px;
  line-height: 117px;
  text-align: left;
}
.main-heading:after{
  content: attr(data-content);
  position: absolute;
  top: 4.5px;
  left: 5px;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-align: inherit;
}