body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.main-heading:after {
  content: attr(data-content);
  position: absolute;
  top: 4.5px;
  left: 5px;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-align: inherit;
}
.main-heading {
  color: rgba(8, 189, 4, 1) !important;
  z-index: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 77.95px;
  line-height: 117px;
  text-align: left;
  z-index: 10;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#mobview {
  display: none;
}

@media (max-width: 760px) {
  .main-heading {
    font-size: 55px !important ;
  }
}

@media (max-width: 540px) {
  #tabview {
    display: none;
  }

  #mobview {
    display: block;
  }

  #mobview:nth-child(3) {
    position: relative;
    top: -35px;
  }
}
