body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.main-heading:after {
  content: attr(data-content);
  position: absolute;
  top: 4.5px;
  left: 5px;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-align: inherit;
}
.main-heading {
  color: rgba(8, 189, 4, 1) !important;
  z-index: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 77.95px;
  line-height: 117px;
  text-align: left;
  z-index: 10;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#mobview {
  display: none;
}

@media (max-width: 760px) {
  .main-heading {
    font-size: 55px !important ;
  }
  .collaborator-logo-div .row:nth-child(1) .col-md-7{
    margin-bottom: 10%;
  }
}

@media (max-width: 540px) {
  #tabview {
    display: none;
  }

  #mobview {
    display: block;
  }

  #mobview:nth-child(3) {
    position: relative;
    top: -35px;
  }
}

.sponsors-div, .prizes-div{
  width: 80%;
  text-align: center;
  color: white;
  margin: auto;
}
.sponsors-div .row, .prizes-div .row{
  width: 100%;
}
.sponsors-div .row:nth-child(1) img{
  width: 25vw;
}
.sponsors-div .row:nth-child(2) img{
  width: 17vw;
}
.top-prizes{
  padding-top: 100px;
}
@media (min-width: 768px)
{
  .top-prizes #first{
    position: relative;
    top: -100px;
  }
}
@media (max-width: 768px)
{
  .top-prizes #first{
    position: relative;
    top: -100%;
  }
  .top-prizes #second{
    position: relative;
    bottom: -100%;
  }
}

.sponsors-div .row h2{
  margin-bottom: 10vh;
} 
.collaborator-logo-div{
  margin: auto;
  width: 100%;
}
.collaborator-logo-div img{
  width: 25vw;
}
.collaborator-logo-div .row{
  width: 100%;
  padding: 5% 2%; 
  text-align: center;
}
.collaborator-logo-div .row:nth-child(1) .col-md-7{
  text-align: right;
}
.collaborator-logo-div .row:nth-child(1) .col-md-7 img{
  width: 100%;
  padding-top: 7.5%;
}
.collaborator-logo-div .row:nth-child(1) .col-md-5 img{
  width: 50%;
  margin: auto;
  padding-top: 5%;
}
.collaborator-logo-div .row:nth-child(2) .col-md-4:nth-child(1) img{
  width: 100%;;
}
.collaborator-logo-div .row:nth-child(2) .col-md-4:nth-child(2) img{
  width: 100%;;
}
.collaborator-logo-div .row:nth-child(2) .col-md-4:nth-child(3) img{
  height: 50%;
  width: 30%;
  margin-top: 15%;
}