.spHeading {
  font-size: 80px !important;
  transform: translateX(20vw);
}

@media (max-width: 1100px) {
  .spHeading {
    font-size: 40px !important;
    transform: translateX(25vw);
  }
}
@media (max-width: 850px) {
  .spHeading {
    font-size: 40px !important;
    transform: translateX(21vw);
  }
}
/* @media (max-width: 760px) {
  .spHeading {
    font-size: 40px !important;
    transform: translateX(21vw);
  }
} */
