.subheading:after {
  content: attr(data-content);
  position: absolute;
  top: 4.5px;
  left: 5px;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-align: inherit;
}

.subheading {
  color: rgba(8, 189, 4, 1) !important;
  z-index: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 77.95px;
  line-height: 117px;
  text-align: left;
  z-index: 10;
}

#mobile {
  display: none;
}

#img_devfolio {
  height: 100px;
  width: 400px;
}
#img_polygon {
  height: 100px;
  width: 400px;
}
#img_wb {
  height: 100px;
  width: 400px;
}
#img_tezos {
  height: 100px;
  width: 250px;
}
#img_celo {
  height: 100px;
  width: 250px;
}
#img_filecoin {
  height: 100px;
  width: 250px;
}
#img_gmc {
  height: 150px;
  width: 450px;
  transform: scale(1.5);
}
#img_taskade {
  height: 150px;
  width: 450px;
}
#img_gdsc_bu {
  height: 250px;
  width: 550px;
}
#img_bal {
  height: 350px;
  width: 550px;
  transform: translateY(25px);
}
#img_hhe {
  height: 300px;
  width: 300px;
  margin: 0 10vw;
}

@media (max-width: 1500px) {
  #img_devfolio {
    height: 80px;
    width: 320px;
  }
  #img_polygon {
    height: 80px;
    width: 320px;
  }
  #img_wb {
    height: 80px;
    width: 320px;
  }
}

@media (max-width: 1350px) {
  #img_gmc {
    height: 130px;
    width: 390px;
    transform: scale(1.5);
  }
  #img_taskade {
    height: 150px;
    width: 390px;
  }
  #img_bal {
    height: 250px;
    width: 300px;
  }
  #img_hhe {
    height: 200px;
    width: 200px;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  #img_devfolio {
    height: 60px;
    width: 240px;
  }
  #img_polygon {
    height: 60px;
    width: 240px;
  }
  #img_wb {
    height: 60px;
    width: 240px;
  }
  #img_tezos {
    height: 80px;
    width: 200px;
  }
  #img_celo {
    height: 80px;
    width: 200px;
  }
  #img_filecoin {
    height: 80px;
    width: 200px;
  }
  #img_gmc {
    height: 100px;
    width: 300px;
    transform: scale(1.5);
  }
  #img_taskade {
    height: 100px;
    width: 300px;
  }
  #img_gdsc_bu {
    height: 200px;
    width: 440px;
  }
}

@media (max-width: 1100px) {
  .title_sponsors {
    flex: none !important;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .power_sponsors {
    flex: none !important;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .associate_sponsors {
    flex: none !important;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .subheading {
    font-size: 40px !important;
    transform: translateX(25vw);
  }
}
@media (max-width: 850px) {
  .subheading {
    font-size: 38px !important;
    transform: translateX(21vw);
  }
}
@media (max-width: 700px) {
  .title_sponsors {
    width: 100%;
    margin-bottom: 3rem;
  }
  .power_sponsors {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 650px) {
  .subheading {
    transform: translateX(10%);
  }
  #img_bal {
    height: 150px;
    width: 200px;
  }
  #img_hhe {
    height: 160px;
    width: 160px;
  }
}
@media (max-width: 500px) {
  .subheading {
    font-size: 35px !important;
    transform: translateX(8%);
  }

  #img_gmc {
    height: 60px;
    width: 180px;
    transform: scale(1.5);
  }
  #img_taskade {
    height: 60px;
    width: 180px;
  }
  #img_gdsc_bu {
    height: 120px;
    width: 264px;
  }
}

@media (max-width: 450px) {
  #desktop {
    display: none !important;
  }
  #mobile {
    display: block !important;
    margin: 1rem auto;
    line-height: 2;
  }
  .mobile_heading_sponsor {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  #img_gmc {
    height: 40px;
    width: 120px;
    transform: scale(1.7);
  }
  #img_taskade {
    height: 40px;
    width: 120px;
    transform: scale(1.2);
  }
  #img_gdsc_bu {
    height: 100px;
    width: 220px;
  }
}
